@import './variables.scss';

.button {
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;

    .primary {
        background-color: $primary-color;
        padding: 0.75rem 1.25rem;
        text-align: center;
        color: white;
        transition: background-color 0.5s ease, box-shadow 0.25s ease;
        border-radius: 5px;
        &:hover {
            background-color: $secondary-color;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        }
    }

    .secondary {
        background-color: white;
        padding: 0.75rem 1.25rem;
        color: $inactive-color;
        border: 1px $divider-color solid;
        border-radius: 5px;
        transition: box-shadow 0.25s ease;

        &:hover {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.075);
        }
    }
}

.buttonsmall {
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;
    font-size: 14px;

    &:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.025);
    }
    .primary {
        background-color: $primary-color;
        padding: 0.25rem 0.75rem;
        text-align: center;
        color: white;
        transition: background-color 0.25s ease;
        border-radius: 5px;
        &:hover {
            background-color: $secondary-color;
        }
    }

    .secondary {
        background-color: white;
        padding: 0.25rem 0.75rem;
        color: $inactive-color;
        border: 1px $divider-color solid;
        border-radius: 5px;
    }
}

.buttonlink {
    color: $primary-color;
    font-size: 14px;
}
