@import './variables.scss';

.footer {
    margin-top: 5rem;
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;


    .links {
        display: flex;
        margin: 1rem;
    }
  }

  .footer a {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
  }
