@import './variables.scss';

.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .calltoaction {
    z-index: 3;
    text-align: center;
    padding: 100px 200px;

    .description {
      font-weight: 300;
      margin-top: 2rem;
      line-height: 1.5;
      font-size: 1.25rem;
      color: $inactive-color
    }
  
    .title {
      margin: 0;
      line-height: 1.15;
      font-size: 4.25rem;
      color: black;
    }
  }


  .graphic {
    z-index: 1; 
    margin-top: -140px;
  }

  .bubbles {
    margin-top: -300px; 
    z-index: 0;
  }

  .howitworks {
    height: 850px;
    width: 100vw;
    background-image: linear-gradient(#0099ff,#1180ff);
    padding: 0rem 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

    .textWrapper {
      width: 800px;
      .title {
        font-size: 32px;
        line-height: 1;
        color: white;
      }

      .description {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}

.whybubbly {
  padding: 2rem 14rem;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .textWrapper {
    width: 800px;
    .title {
      font-size: 32px;
      line-height: 1;
    }
    .description {
      font-weight: 300;
      font-size: 16px;
      color: $inactive-color;
    }
  }

  .graphicsWrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 10;
    width: 100%;
    margin-top: 40px;

    .descContainer {
      width: 250px;
      .description {
        color: $inactive-color;
        font-size: 14px;
      }
    }
  }
}

.ourservices {
  margin-top: 200px;
  margin-bottom: 150px;
  padding: 2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(#f7f7f7,white);

  .textWrapper {
    width: 800px;
    margin-bottom: 40px;

    .title {
      font-size: 32px;
      line-height: 1;
    }
    .description {
      font-weight: 300;
      font-size: 16px;
      color: $inactive-color;
    }
  }
}

.ourupgrades {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .textWrapper {
    width: 800px;
    margin-bottom: 40px;
    .title {
      font-size: 32px;
      line-height: 1;
    }

    .description {
      font-weight: 300;
      font-size: 16px;
      color: $inactive-color;
    }
  }
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
