@import './variables.scss';

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
  
.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: box-shadow 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    border: 1px solid $divider-color;
    border-radius: 5px;
    min-width: 500px;
    height: 200px;
    background-color: #0184d4;
    color: white;

    &:hover {
      cursor: pointer;
      box-shadow: 2.5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 30px;

      .title {
        font-size: 20px;
      }
      .description {
        font-size: 12px; 
      }

      .learnmorebtn {
        font-size: 12px;
        color: white;
      }

    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-width: 150px;

      .preprice {
        font-size: 12px;
      }
      .price {
        font-size: 30px;
        line-height: 2;
      }
      .subprice {
        margin-top: -10px;
        font-size: 12px;
      }
      .bookbtn {
        padding: 2.5px 7.5px;
        font-size: 15px;
        margin-top: 10px;
        color: white;
        border: 1.5px white solid;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }